

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  height: 100%;
  width: 100%;
  position: relative;
}

body {
	line-height: 1;
	font-family: sans-serif;
	background: #fff;
	font-weight: 300;
	padding: 0;
	margin: 0;
	-webkit-overflow-scrolling: touch;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	cursor: pointer;
	font-weight: 300;
	color: #ff585d;
	text-decoration: none;
	font-family: sans-serif;
	transition: all ease-in-out 0.4s;
}
p {
	font-weight: 300;
	line-height:1.1;
}
b {
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	font-family: sans-serif;
}
span, small {
	font-weight: 300;
}


/*
---------------------------------------------------
Pixel based CSs responsive for min-width: 2200px
---------------------------------------------------
*/
@media only screen and (min-device-width : 2200px) {
	body {
		zoom: 137% !important;
	}
	.list-item-time li .time-header { height: 2.5em; }
	.list-item-time li .time-body { height: 6.5em; }

}

/*
---------------------------------------------------
min-width: 1920px to max-width: 2199px
---------------------------------------------------
*/
@media (min-device-width: 1900px) and (max-width: 2199px) {
	body {
		zoom: 99%;
	}
}

/*
---------------------------------------------------
min-width: 1400px to max-width: 1899px
---------------------------------------------------
*/
@media (min-device-width: 1400px) and (max-width: 1899px) {
	body {
		zoom: 99%;
	}
}


/*
---------------------------------------------------
min-width: 1920px to max-width: 2199px
---------------------------------------------------
*/
@media (min-device-width: 1900px) and (max-width: 2199px) {
	/*.touristphoto span.docimg {
		height: 728px;
	}*/
}
